# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print ("Sara Perez")

Sara Perez

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:

import pandas as pd 
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [6]:
students = pd.read_csv("data_raw/students.csv")

bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']

students['letter_grade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=False)

print(students.head())

   studentid  numericgrade letter_grade
0          1            61           C-
1          2             0            F
2          3            14            F
3          4            57            D
4          5            72           C+

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [7]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [10]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

column_types = results.dtypes
print(column_types) 

time_column_type = results['time'].dtype
print(f"Data type for the 'time' column is: {time_column_type}")

if time_column_type == 'object':
    print("The 'time' column data type agrees with the codebook since it is a string.")
else:
    print("The 'time' column data type does not agree with the codebook.")

#Data type for 'time column' is object and agrees with the notebook since it is a string

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object
Data type for the 'time' column is: object
The 'time' column data type agrees with the codebook since it is a string.

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [15]:
# Write your own code here

#refer to lecture 12 
results = pd.read_csv("data_raw/results.csv")

results['milliseconds'] = results['milliseconds'].astype(str)

#query to find rows where millisecond is NaN
subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset['milliseconds'])

print("Unique non-numeric values in 'milliseconds':") #extract list of non-numeric values 
print(list_unique)

list_old = list_unique  #replace certain values with NaN 
list_new = [np.nan] * len(list_old)

results['milliseconds'] = results['milliseconds'].replace(list_old, list_new)

results['milliseconds'] = pd.to_numeric(results['milliseconds'], errors='coerce') #convert column to numeric 
 
print(results['milliseconds'].head()) #display

Unique non-numeric values in 'milliseconds':
['\\N']
0    5690616.0
1    5696094.0
2    5698779.0
3    5707797.0
4    5708630.0
Name: milliseconds, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [16]:
# Write your own code

#refer to lecture 14 

df_aggCon_pos = (results.groupby('constructorId')
                         .agg(mean_laps=('laps', 'mean'),
                              sd_laps=('laps', 'std'))
                         .reset_index() 
)

df_aggCon_pos = df_aggCon_pos.sort_values(by='mean_laps', ascending=False)

print(df_aggCon_pos)

     constructorId   mean_laps    sd_laps
146            149  198.500000   2.121320
109            112  197.000000   4.242641
106            109  184.285714  32.912583
116            119  178.666667  36.950417
105            108  163.764706  63.148168
..             ...         ...        ...
90              93    0.000000        NaN
59              61    0.000000   0.000000
134            137    0.000000        NaN
88              91    0.000000        NaN
72              74    0.000000   0.000000

[210 rows x 3 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [18]:
# Write your own code

#refer to lecture 14 

results['position'] = pd.to_numeric(results['position'], errors='coerce') #initial error on non numeric values. need to convert first. 

df_subAggCon_pos = (results.query("raceId >= 150")
                           .groupby("constructorId")
                           .agg(mean_position=('position', 'mean'),
                                sd_position=('position', 'std'))
                           .reset_index() 
)

print(df_subAggCon_pos)

     constructorId  mean_position  sd_position
0                1       6.121634     4.294358
1                3       7.983836     5.509701
2                4       8.617834     4.388534
3                5      11.430868     3.157308
4                6       4.733661     3.395834
..             ...            ...          ...
198            209      16.333333     2.420002
199            210      13.293860     3.770574
200            211       9.230769     4.030234
201            213      10.519608     3.842777
202            214       8.763158     3.354076

[203 rows x 3 columns]