# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [1]:
# Write your answer here:
print ("Sara Perez")

Sara Perez

<font size = "5">

Import the "pandas" and 

"sqlalchemy","URL", and "text" libraries from "sqlalchemy" <br>

In [7]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [8]:
# Write your own code


url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = "")

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat most of the  exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Ensure for each exercise you are using the specific Python commands(ie-pd.read_sql)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the file "homework9_table.csv" in the "data_raw" folder
- Upload the file to your local SQL server using the <br>
"to_sql" command. Call the new file "sprint_results" in the <br>
server

In [11]:
# Write your own code

df = pd.read_csv('/Users/saraperez/Documents/GitHub/QTM151_2024/assignment9/data_raw/homework9_table.csv')

df.to_sql('sprint_results', con=connection, if_exists='replace', index=False)

10


<font size = "5">

For questions (b)-(e) we will be working with the table <br>
``` homework9_table ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "homework9_table" to subset <br>
drivers whose nationality is British.
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [19]:
# Write your own code

query = """
SELECT *
FROM homework_data
WHERE nationality = 'British'
ORDER BY driver_name ASC;
"""

df_british_drivers = pd.read_sql(query, connection)

print(df_british_drivers)

#note to self: refer to lecture 18

   driver_id     driver_name nationality  lap_times
0          6    Henry Louvre     British         32
1          5  Lewis Hamilton     British        103
2          1    Simon Cowell     British         74

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the average of "lap_times" by "driverId" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [27]:
# Write your own code

query = text(""" 
SELECT "driver_id", 
       AVG("lap_times") AS average_lap_times
FROM homework_data
GROUP BY "driver_id"
ORDER BY average_lap_times;
""")

df_average_lap_times = pd.read_sql(query, connection)


print(df_average_lap_times)

   driver_id  average_lap_times
0          9               11.0
1         10               24.0
2          2               26.0
3          6               32.0
4          8               53.0
5          1               74.0
6          3               82.0
7          4               87.0
8          7               91.0
9          5              103.0

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the sum of "lap_times" by nationality using ```GROUP BY```
- Use ```HAVING ``` to filter nationalities with a sum <br>
of lap times strictly higher than 150
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```



HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING SUM(lap_times)``` rather than an alias <br>
for the code to work correctly.

In [29]:
# Write your own code

query = text("""
SELECT nationality, 
       SUM(lap_times) AS total_lap_times
FROM homework_data
GROUP BY nationality
HAVING SUM(lap_times) > 150
ORDER BY total_lap_times DESC;
""")

df_nationality_lap_times = pd.read_sql(query, connection)

print(df_nationality_lap_times)

  nationality  total_lap_times
0      German              261
1     British              209

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

- In this exercise we will obtain multiple statistics about each nationality and their lap times.
-  Obtain the sum, min, max, and range of each nationality's lap times using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>
HINT: There is no built in range function in SQL, however you can use the <br>
MAX and MIN functions to build your own function, like this:

``` MAX(lap_times)-MIN(lap_times) AS range_laptimes```

In [30]:
# Write your own code

query = text("""
SELECT nationality, 
       SUM(lap_times) AS total_lap_times, 
       MIN(lap_times) AS min_lap_time, 
       MAX(lap_times) AS max_lap_time, 
       MAX(lap_times) - MIN(lap_times) AS range_lap_times
FROM homework_data
GROUP BY nationality
ORDER BY total_lap_times DESC;
""")


df_nationality_stats = pd.read_sql(query, connection)


print(df_nationality_stats)

  nationality  total_lap_times  min_lap_time  max_lap_time  range_lap_times
0      German              261            11            91               80
1     British              209            32           103               71
2     Spanish              113            26            87               61